.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#footer-title {
  font-size: 18px;
  margin-right: 20px;
}

.icon {
  font-size: 24px;
  margin: 0 5px;
}

.icon a {
  color: black;
  text-decoration: none;
}

.icon a:hover {
  color: #bbb;
}
